/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#ordonnancePanel,#center_Pane{
	-fx-background-image: url(/application/ControlPanal/ControlPanalImage/ordonnancemedicale.jpg); 
	-fx-background-size: 102%; 
	-fx-background-repeat: no-repeat ; 
	-fx-background-position: bottom  ;
}

#top_Pane{
	-fx-background-color:  #006064;
}

#goBack{
	-fx-font-weight: 700;
	-fx-font-size: 20px;
	-fx-background-color :#BDBDBD;
	-fx-text-fill: #E0E0E0;
}

#goBack:hover{
	-fx-underline: true;
	-fx-scale-x: 1.07;
	-fx-scale-y: 1.07;
	-fx-background-color :#E0E0E0;	
}
.button{
-fx-background-color :#006064;
-fx-text-fill:#E0E0E0;
}
.button:hover{
	-fx-background-color :#00838F;
	-fx-scale-x: 1.07;
	-fx-scale-y: 1.07;
	
	
}
#gobackLabel{
	-fx-background-image: url(/application/ControlPanal/ControlPanalImage/house.png) ;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 50%;
	-fx-background-position: center;
}
