#RDV_Window{
	-fx-background-color: #212121;
	-fx-font-family: Ubuntu Condensed;
}
.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .table-cell{
   -fx-font-size: 15px;
	-fx-font-weight:700; 
	-fx-text-fill: #212121;
	-fx-border-color: #212121;
	-fx-font-family: Ubuntu Condensed;
	
}

.table-row-cell:hover{

	-fx-background-color: #FFEE58;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #E0E0E0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #c2bfbf;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}
.table-row-cell:selected {
    -fx-background-color: #F9A825;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #EF5350;
    -fx-border-color: #212121;
    -fx-text-fill: white;
     -fx-font-size: 15px;
	-fx-font-weight:700; 
}

#label_RDV:hover{
	-fx-underline: true;
	-fx-scale-x: 1.04;
	-fx-scale-y: 1.04;
}

.button{
-fx-background-color :#009688;
-fx-text-fill:white;


}
.button:hover{
	-fx-background-color :#036b61;
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}

.text-field,.text-area{
	-fx-text-fill: white;
	
}
.text-field:hover,.text-area:hover{
	-fx-scale-x: 1.07;
	-fx-scale-y: 1.07;
}
.date-picker,#timePicker{
	-fx-text-fill: white;
	-fx-font-size: 23px;
	-fx-font-family: Ubuntu Condensed;
}


